@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Grape+Nuts&family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
  height: 100vh;
  background-image: url("chocolate_chip_cookies.jpg");
  background-repeat: no-repeat;
  background-size: 60vw 120vh;
  font-family: 'Cookie', cursive;
  font-size: 20px;
}

h1 {
  color: whitesmoke;
}

.gauche {
  display: flex;
  flex-basis: 60vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



.droite {
  display: flex;
  flex-basis: 30vw;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.global {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex: auto;
}



#clic {
  width: 75%;
  height: 30%;
  writing-mode: horizontal-tb;
  background-image: url("cookie.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  cursor: pointer;
}

.affichage {
  background-color: rgb(235, 214, 25);
  font-display: center;

}

.image {
  height: 10vh;
}



.bouton {
  opacity: 0;
  cursor: pointer;
  border-radius: 15% 25%;
  border-width: 5px;
  border-color: black;
  border: solid;
}

.formBox {
  border-radius: 15% 15%;
  padding: 1em;
}

.color1 {
  background-color: #DAA156;
}

.color2 {
  background-color: #EBB267;
}

.color3 {
  background-color: #BA6D22;
}