body {

  background-image: url("chocolate_chip_cookies.jpg");
  background-repeat: no-repeat;
  background-size: 60vw 120vh;

}

h1 {
  color: aliceblue;
}

.gauche {
  display: flex;
  flex-basis: 30vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.centre {
  display: flex;
  flex-basis: 30vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.droite {
  display: flex;
  flex-basis: 30vw;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.global {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex: auto;
}

#clic {
  width: 75%;
  height: 30%;
  writing-mode: horizontal-tb;
  background-image: url("cookie.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  cursor: pointer;
}

.affichage {
  background-color: aliceblue;
  font-display: center;

}

.deNum {
  height: 50px;
  width: 50px;
  opacity: 0;

}

.affichade {
  opacity: 0;
}

.lance {
  background-color: aqua;
}

.autoCliker {
  opacity: 0;
  ;
}

.AuTC {
  background-color: rgb(0, 140, 255);
}

.bonus {
  background-color: rgb(0, 140, 255);
  opacity: 0;
}